<form class="message_form">
  <input type="hidden" name="from_id" value="<%= from_user.id %>">
  <input type="hidden" name="room_id" value="<%= room_id %>">

  <div class="block-center">
	  <input class="input-text" type="text" name="content" placeholder="Aa" data-behavior="chat_speaker" style="height: 50px;width: 650px;">
	  <button id="send" type="button" name="test" data-behavior="test" style="height: 45px;width: 45px;color: #777;">
	  	<i class="fas fa-location-arrow"></i>
	  </button>
  </div>
</form>