<h1>admin#home</h1>

  <%= link_to "inquiry_rooms", admins_inquiry_rooms_path, class: "btn btn-secondary col-md-3", :style=>"background-color: #777;color: white;margin: 10px 10px 10px 10px;" %>

 <%= link_to '', destroy_admin_session_path, class: "glyphicon glyphicon-log-out navbar-link", style: "padding: 0 0 0 0;", method: :delete %>