<div class="container">
      <div class="row">
      	 <div class="col-md-6 col-md-offset-3" >
      	     <h3 class="text-center">マイページ</h3>

<h３>投稿管理</h３>

<%= link_to '里親を探す', new_cat_path, class: "btn btn-secondary btn-block", :style=>"background-color: #777;color: white;" %>


</div>
</div>
</div>