<div class="container-fuild" style="max-width: 100%;">
	<div class="row">
		<div class="col-lg-12">
		  <div class="about-visual">
			 <div class="about-visual-content">
			 	<div class="col-lg-6 col-lg-offset-3">
			        <h1 class="text-left" style="margin-bottom: 30px;color: darkgray;">About きゃぴねす</h1>

			        <h3 style="margin: 20px 0 20px 0;color: darkgray;">cat × people = happiness‼︎ </h3>

					<p class="main-text">
						2017年12月22日、2017年の全国犬猫飼育実態調査で、猫の推定飼育数が1994年の調査開始以来初めて犬の数を上回ったと発表されました。<br>
						以来右肩上がりで年々飼育数が上昇している猫ですが、犬と比較して躾や散歩が不要なことなど飼育のしやすさから複数匹をペットとして迎え入れる傾向が見受けられます。<br>
						<br>
						しかしブームの裏側にはさまざまな懸念点も挙げられます。<br>
						かつてペット業界では大型犬ブームやチワワなどの小型犬、芝犬や現在でも人気の高いトイプードルなど特定の品種のブームが起こりました。<br>
						そのブームに則り一部の業者では人気の犬種の過剰な繁殖を行い、ブームが終息すると飽きてしまった飼い主が飼育を放棄し野良化する個体や動物保護センターなどの施設に保護される個体が増幅しました。<br>
						<br>
						メディアではネコノミクスという造語までうまれている昨今の猫ブームも、過去のブームと同様の道を辿る恐れがあるのではと危惧されており、早くも一部ではペットショップやブリーダーから購入するケースの多い純血種の猫も捨てられ始めて、過去のペットブームの悪しき風習の片鱗が見えています。<br>
						<br>
						当サービスの理念は、不当な利益の追求ではなく、命を取り扱うという事の本来あるべき姿を追求し、人と動物の幸せな生活を実現することにあります。<br>
						当サービスを通して素敵な出会いを紡ぎ、飼い主にとっても、ペットにとっても、人生の一部を共に幸せな時間を過ごためのキッカケとなることができますと幸いです。
				    </p>

                </div>
			 </div>
		　</div>
		</div>
	</div>
</div>