<div class="container-fuild" style="max-width: 100%;">
<div class="row">
<div class="col-lg-12"><div class="about-visual">
	 <div class="about-visual-content">
	      <h1 class="text-left" style="margin-left: 50px;color: darkgray;">About portfolio</h1>
	    </div>
	</div>
</div>
</div>
</div>