<div class="container-fuild" style="max-width: 100%;background-color: white;">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			        <h1 class="text-left" style="margin-bottom: 30px;color: darkgray;">About cats ?</h1>

			        <h3 style="margin: 20px 0 20px 0;padding: 10px 5px 10px 5px;background-color: #ffe4e1;color: darkgray;">猫ってどんな生き物？</h3>

					<p class="main-text" style="padding: 10px;">
						全世界的に知らない人はいないであろう生き物のうちの１種である猫は、我々日本人にも昔から馴染みの深い存在かと思います。<br>
						野良猫も多く、私たちの生活と密接して生きる彼らのことを皆さんはどれだけご存知でしょうか？<br>
						このページでは、あらためて猫という生き物について、彼らの特性や生態、家族に迎えた際の飼育の基本などを紹介しています。<br>
						これから猫を家族として迎え入れたく思っている方も、すでに猫好きを自負する方も、今一度是非目を通してみてください♪<br>
				    </p>

				    <h3 style="margin: 20px 0 20px 0;padding: 10px 5px 10px 5px;background-color: #ffe4e1;color: darkgray;">猫の性格</h3>
		                    <h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">自由気まま</h4>
								<p class="main-text" style="padding: 10px;">
									猫は基本的に自由な性格です。犬と違って芸を覚えることはほとんどありませんし、しつけをしようと思ってもだいたい無視されます。
									犬は飼い主中心に生活しますが、猫は猫中心の生活、または各々独立した生活を送ることが多いです。
									しかしある程度人間の言っていることは理解してくれています。
									自分の名前を呼ばれると返事をしたり、いたずらをしている時「ダメ」と言えば空気を読んでやめてくれます。
									人間でいうと５歳児くらいの知能がある、という説もあったりします。
							    </p>
						    <h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">懐く</h4>
								<p class="main-text" style="padding: 10px;">
									猫は一見マイペースで自由に見えますが、実際はちゃんと飼い主に懐きます。
									名前を呼べば尻尾を振ったり「ニャ」と可愛く鳴いてお返事してくれたり、一緒に眠ったりします。
									一般的に子猫時代は甘えん坊でその後自立する猫が多いですが、大人の猫でも精神的に子供のままで甘えん坊の猫もおり、特に避妊/去勢をするとそのような性格のまま大人になる子が多いと言われています。
								</p>
						    <h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">他の動物との共同生活</h4>
								<p class="main-text" style="padding: 10px;">
									猫は本来、子猫以外は1匹だけで暮らす動物です。1匹でいるのが普通ですからお留守番も得意です。
									本来単独で暮らす猫は集団生活をしませんが、複数の猫と同じ場所で一緒に暮らすこともできるとても順応性のある生き物です。
									また猫以外の動物とも共同生活が可能で、小さな頃から他の動物と過ごした猫は大人になってもその動物とうまく付き合うことができます。
								</p>
				    <h3 style="margin: 20px 0 20px 0;padding: 10px 5px 10px 5px;background-color: #ffe4e1;color: darkgray;">猫の特徴</h3>

						    <h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">目と耳がいい</h4>
								<p class="main-text" style="padding: 10px;">
　　　　　　　　　　　　　　　　　　　　　　猫は夜行性の動物です。人間の7倍物光量感知ができ、瞳孔を開いて月の光などのわずかな光でも集めることができるので、暗い所でもはっきりと物を見ることができます。
									 聴力は人間の10倍程度と言われています。犬と比べても2倍も耳が良いです。
									 昔狩をしていた時に、少しの物音でも察知できるように聴力が発達しました。
									 また、耳自体が前後左右に動く為、音を拾いやすい構造になっています。
								</p>

							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">高いところが好き</h4>
								<p class="main-text" style="padding: 10px;">
									猫は元々木登りが得意で、木の上で休んだりしている動物でした。また、高い所の方が周りを見渡せるので安心できるのです。その為、高い所を好みます。
　　　　　　　　　　　　　　　　　　　　　 家の中だと、本棚や冷蔵庫の上、うまく登れるならエアコンの上に登ることもあります。
                                    猫を飼う時にもし高所が家にない場合は、キャットタワーを用意してあげると良いでしょう。
								</p>


							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">綺麗好き</h4>
								<p class="main-text" style="padding: 10px;">
									猫は舌で体中を舐めてきれいにします。<br>
                                    これは体を清潔に保ったり、リラックスしたり、体温調節などの効果があります。
								</p>


							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">たっぷりの睡眠</h4>
								<p class="main-text" style="padding: 10px;">
									猫は「寝る子」からきていると言われるくらいたくさん寝ます。<br>
									1日のうちの睡眠時間は約16時間。子猫の場合は20時間ちかく寝ます。
								</p>


				    <h3 style="margin: 20px 0 20px 0;padding: 10px 5px 10px 5px;background-color: #ffe4e1;color: darkgray;">飼育の基本</h3>

							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">世話がかからない・楽</h4>
								<p class="main-text" style="padding: 10px;">
									基本的に自由気ままな性格なので世話がほとんど必要ありません。<br>
									散歩もなければお風呂もありません。<br>
									普段の主な世話は下記の通りです。<br>
<br>
										・トイレの掃除<br>
										・エサやり<br>
										・水の交換<br>
										・ブラッシング(長毛種3日に1回、短毛種1週間に1回)<br>
<br>
									世話の少なさから飼う人が増え始め、近年とうとう犬猫飼育数が逆転しました。<br>
									1泊程度の旅行なら置きエサで対応できますし、世話の少なさから気軽に家族として迎えることができます。<br>
								</p>

				    <h3 style="margin: 20px 0 20px 0;padding: 10px 5px 10px 5px;background-color: #ffe4e1;color: darkgray;">飼育の注意点</h3>

							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">知らない場所が苦手</h4>
								<p class="main-text" style="padding: 10px;">
									猫は自分の縄張りの中だけで暮らすため、自分の知らない臭いや環境に不安を感じます。
									猫を犬のように外に散歩に連れて行こうとすると不安で自分の場所に急いで逃げようとします。
									猫には犬のように散歩はいりません。ストレスになるだけです。
									また、よく「猫は家につく」と言われますが、お引越しなどで住環境が変わる際にはショックを受けないよう気を使ってあげる必要があります。
								</p>


							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">トイレは清潔に</h4>
								<p class="main-text" style="padding: 10px;">
									猫の特徴の項でも述べましたが、猫は非常に清潔好きです。<br>
									トイレが汚いととてもストレスを感じます。<br>
									猫によっては嫌がって他の場所で粗相してしまう場合もあります。<br>
　　　　　　　　　　　　　　　　　　　　　 1日に2回程度はトイレの砂を掃除し、1ヶ月に1回はトイレ全体を洗ってあげましょう。<br>
                                    飼育頭数＋１箇所のトイレを用意してあげるといいなどとも言われています。<br>
								</p>


							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">一緒に遊んで運動させる</h4>
								<p class="main-text" style="padding: 10px;">
									猫は獲物がいない場合基本的には寝ている動物です。<br>
									自主的に運動する猫であれば良いですが、おとなしい猫は運動不足になりやすいです。<br>
									運動不足になると肥満の原因となり、糖尿病など生活習慣病の原因となってしまいます。<br>
									1日に1回はおもちゃを使って猫と遊んで、運動不足を解消してあげましょう。<br>
								</p>


							<h4 style="border-left: 8px solid #ffe4e1;color: darkgray;margin: 10px;">食事管理は忘れずに</h4>
								<p class="main-text" style="padding: 10px;">
									個体差によって違いますが、エサを食べたいだけ食べてしまう場合があります。<br>
									大食漢になってしまうと肥満の原因になってしまいます。<br>
									猫が必要な摂取カロリーはエサの外袋に書かれていますので、年齢や体格に応じてどれだけの量を与えればよいか把握しておきましょう。<br>
									<br>
									気をつけなければいけないのが多頭飼いの場合。<br>
									1匹が少食でもう1匹が大食漢だと食べる量のバランスが変わってしまいます。<br>
									すべての猫が適切な量を食べられるように、器を分ける、食事時は部屋を分けるなど、対策を取ってあげましょう。<br>
								</p>

		</div>
	</div>
</div>