<div class="container">
	<div class="row">
	<div class="col-lg-12">
    <h1 class="text-center">Welcom!サービス名</h1>

          <p><a class="btn btn-defoult col-xs-3 col-xs-offset-3 sign_in" style="border-radius: 50px;background-color: mistyrose;color: white;" href="/users/sign_in">Log in</a></p>
          <p><a class="btn btn-defoult col-xs-3 sign_up" style="border-radius: 50px;background-color: mistyrose;color: white;" href="/users/sign_up">Sign Up</a></p>
    </div>
    </div>
</div>