<%= render 'layouts/header' %>
<div class="container-fuild" style="max-width: 100%;">
<div class="row">
<div class="col-lg-12">
	  <!-- main-visual用のdiv -->
	<div class="top-visual">
	    <div class="top-visual-content">
	      <h1 class="text-center" style="margin-top: 350px;color: darkgray;">Welcom!さとねこ</h1>
	          <p class="top-visual-link">
		          <p>
		          	<a class="btn btn-defoult col-xs-3 col-xs-offset-3 sign_in" style="border-radius: 50px;background-color: darkgray;color: white;margin-top: 30px;margin-right: 10px;" href="/users/sign_in">Log in</a>
		          </p>
		          <p>
		          	<a class="btn btn-defoult col-xs-3 sign_up" style="border-radius: 50px;background-color: darkgray;color: white;margin-top: 30px;margin-left: 10px;" href="/users/sign_up">Sign Up</a>
		          </p>
	          </p>
	    </div>
	</div>
</div>
</div>
</div>