<h1><%= @room.cat.title %>についてのお問い合わせ</h1>

<aside class="col-lg-12">
  <!-- 省略 -->
  <%# if !current_user?(@user) && logged_in? %>
    <section class="message_box">
      <div id="messages">
        <%= render @messages %>
      </div>
    </section>

    <script type="text/javascript">
      var height = 0;
      $("div.message").each( function() {
        height += ($(this).height());
      });
      $('section.message_box').scrollTop(height);
    </script>

    <div class="message_form">
     <%= render 'messages/message_form',
       {from_user: current_user, to_user: @user, room_id: @room.id} %>
    </div>
  <%# end %>
</aside>