<aside class="col-lg-12" style="padding: 0px;">
<h2 class="text-center" style="height: 50px;"><%= @room.cat.title %>についてのお問い合わせ</h2>
  <%# if current_user? && logged_in? %>
    <section class="message_box" style="background-color: white;border: none;">
      <div id="messages">
        <%= render @messages %>
      </div>
    </section>

    <script type="text/javascript">
      var height = 0;
      $("div.message").each( function() {
        height += ($(this).height());
      });
      $('section.message_box').scrollTop(height);
    </script>

    <div class="message_form">
     <%= render 'messages/message_form',
       {from_user: current_user, to_user: @user, room_id: @room.id} %>
    </div>
  <%# end %>
</aside>