// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-visual {
  width: 100%;
  height: 800px;
  background-image: url(img/topimage.jpeg);
  background-size: cover;
  background-position: center;
}

.top-visual-content{
  width: 100%;
  height: 100%;
  background-color: rgba( 255, 255, 255, 0.6);
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 105px; /* 上側の内側の余白で垂直方向の位置を調整 */
}

.about-visual {
  width: 100%;
  height: 800px;
  background-image: url(img/about-img.jpeg);
  background-size: cover;
  background-position: center;
}

.about-visual-content{
  width: 100%;
  height: 100%;
  background-color: rgba( 255, 255, 255, 0.8);
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 105px; /* 上側の内側の余白で垂直方向の位置を調整 */
}


