<% if @cat.favorite?(@cat, current_user) %>
	<ul class="list-unstyled">
	 <li class="like_off">
	  <%= link_to "", cat_favorites_path(@cat), method: :delete, remote: true, class: "like_off_btn" unless @cat.user_id == current_user.id do %>
	   <!-- <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i> -->
	  <% end %>
	 </li>
	</ul>
<% else %>
<ul class="list-unstyled">
 <li class="like_on">
  <%= link_to "", cat_favorites_path(@cat), method: :post, remote: true, class: "like_on_btn" unless @cat.user_id == current_user.id do %>
   <!-- <i class="glyphicon glyphicon-heart" aria-hidden="true"> </i> -->
  <% end %>
 </li>
</ul>
<% end %>