 <% @messages.each do |inquiry_message| %>
 <div class="message" data-session="<%= session[:user_id] %>">
    <% user = User.find_by(id: inquiry_message.from_id) %>
      <% if current_user == nil %>
        <% login_user = current_admin %>
      <% else %>
        <% login_user = current_user %>
      <% end %>
    <% if current_user %>
      <% inquiry_message.adminflag = inquiry_message.adminflag == 1? 0:1 %>
    <% end %>
		  <% if inquiry_message.adminflag == 1 %>
		    <div class="message_right" style="margin: 20px 0 20px 0;width: 100%;" >
          <span class="message__right" id="" style="" ><%= inquiry_message.content%></span>
        </div>
      <% else %>
        <div class="message_left" style="margin: 20px 0 20px 0;width: 100%;" >
          <span class="message__left" id="" style="" ><%= inquiry_message.content%></span>
        </div>
		  <% end %>
 <% end %>
 </div>